:global(body){
    background-image: url("/images/background for website.png");
    background-size: 200vh;;
    height: 50vh;  
    margin: 0px;
    overflow: hidden;
   }
  
  
  #gallery {
    height: 140vmax;
    width: 140vmax;  
    position: absolute;
  }
  
  .tile {
    border-radius: 1vmax;
    position: absolute;
    transition: transform 800ms ease;
  }
  
  .tile:hover {
    transform: scale(1.1);
  }
  
  .tile:hover > img {
    opacity: 1;
    transform: scale(1.01);
  }
  
  .tile > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: inherit;
    opacity: 0;
    transition: opacity 800ms ease,
      transform 800ms ease;
  }
  
  .tile:nth-child(1) {
    background-image: url("/images/coming soon.png");
    height: 18%;
    width: 20%;
    left: 5%;
    top: 5%;
  }
  
  .tile:nth-child(2) {
    background-image: url("/images/coming soon.png");
    height: 28%;
    width: 18%;
    left: 42%;
    top: 12%;
  }
  
  .tile:nth-child(3) {
    background-image: url("/images/coming soon.png");
    height: 16%;
    width: 12%;
    left: 12%;
    top: 34%;
  }
  
  .tile:nth-child(4) {
    background-image: url("/images/coming soon.png");
    height: 18%;
    width: 14%;
    left: 45%;
    top: 48%;
  }
  
  .tile:nth-child(5) {
    background-image: url("/images/comic book drawings 1.png");
    height: 16%;
    width: 12%;
    left: 8%;
    top: 70%;
  }
  
  /* -- YouTube Link Styles -- */
  
  body.menu-toggled > .meta-link > span {
    color: rgb(30, 30, 30);
  }
  
  #source-link {
    bottom: 60px;
  }
  
  #source-link > i {
    color: rgb(94, 106, 210);
  }
  
  #yt-link > i {
    color: rgb(239, 83, 80);
  }
  
  .meta-link {
    align-items: center;
    backdrop-filter: blur(3px);
    background-color: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 6px;
    bottom: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
    cursor: pointer;  
    display: inline-flex;
    gap: 5px;
    left: 10px;
    padding: 10px 20px;
    position: fixed;
    text-decoration: none;
    transition: background-color 400ms, border-color 400ms;
    z-index: 10000;
  }
  
  .meta-link:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.2);
  }
  
  .meta-link > i, .meta-link > span {
    height: 20px;
    line-height: 20px;
  }
  
  .meta-link > span {
    color: white;
    font-family: "Rubik", sans-serif;
    font-weight: 500;
  }
  
  :global(h1,p){
    font-family: Gloria Hallelujah ;
  }